---
---
    
@import "bootstrap";

img { margin-bottom: 24px; 
     margin-top: 17px; 
    border-radius:2%;
}


body {
	padding-top: 70px;
}

figcaption {
    text-align: right;
    margin-top: -20px;
    margin-bottom: 20px;
}



/* Top navigation bar */


p.byline {
	text-align: center;
	font-size: 18px;
	line-height: 36px;
	margin-top: -24px;
	margin-bottom: 48px;
}


pubtit {
	font-weight: bold;
}

firstp {
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px; /* or 950px */
}

/* Home, News */
#newsid p {
	text-align: left;
}

#homeidtmp h1 {
	text-align: center;
}

#newsid img {
	margin-top: 6px;
	margin-bottom: 6px;
}

/* Team & Publications */
#gridid img { margin: 16px 22px 6px 0; border-radius:10%; box-shadow: 2px 2px 5px #888888 }
#homeid img { margin: 0 0 0 0; border-radius:5%; box-shadow: 0px 0px 0px #888888 }
#picid img { margin: 6px 3px 60px 6px; border-radius:1%; box-shadow: 2px 2px 5px #888888 }
#gridid .row { margin-bottom: 24px; }


/* Grid overrides */
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	padding-left: 16px;
	padding-right: 16px;
}

/* Grid overrides */
.col-sm-4 {
	padding-left: 26px;
	padding-right: 26px;
}


/* Carusel */

.carousel {
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.label-computational-social-science {background-color:#47885e;}
.label-political-science {background-color:#4e0789}
.label-network-science {background-color:#007bbb;}
.label-computational-journalism {background-color:#946243;}
.label-game-analytics {background-color:#e4007f;}
.label-ai-ml-nlp {background-color:#426579;}
.label-hci {background-color:#fcc800;}
.label-social-media {background-color:#ea5506;}

.label-computational-social-science-selected {border-style: solid; border-color: #47885e; color: #47885e; font-weight: bold;}
.label-political-science-selected {border-style: solid; border-color:#4e0789; color:#4e0789; font-weight: bold;}
.label-network-science-selected {border-style: solid; border-color:#007bbb; color:#007bbb; font-weight: bold;}
.label-computational-journalism-selected {border-style: solid; border-color:#946243; color:#946243; font-weight: bold;}
.label-game-analytics-selected {border-style: solid; border-color:#e4007f; color:#e4007f; font-weight: bold;}
.label-ai-ml-nlp-selected {border-style: solid; border-color:#426579; color:#426579; font-weight: bold;}
.label-hci-selected {border-style: solid; border-color:#fcc800; color:#fcc800; font-weight: bold;}
.label-social-media-selected {border-style: solid; border-color:#ea5506; color:#ea5506; font-weight: bold;}
